DATABASE_NAME=falzo_game_db
DATABASE_USER_NAME=falzo_user
DATABASE_PASSWORD=replace-with-a-local-development-password
REDIS_PASSWORD=replace-with-a-local-development-password
NATS_ENABLED=true
NATS_URL=nats://localhost:4222
NATS_ALERT_STREAM=FALZO_ALERTS
NATS_ALERT_SUBJECT=falzo.alerts.error
